# Don't commit the following directories created by build tools
/target
/build/
release
debug
projectFilesBackup
/out/
dist
www
loader
dist-spec
/.config/
reports
node_modules
bower_components
.stencil/
.versions/
.sass-cache
.tscache
tsconfig.tsbuildinfo
logs
project/project
project/target

# Don't commit the following files created by build tools
.classpath
.project
.buildpath
.settings
.terraform
cdktf.out
terraform.tfstate*
/src/@cdktf/*
!/src/@cdktf/tsconfig.json
planfile
*.log
pom.xml.releaseBackup
pom.xml.tag
release.properties
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
.baseDir.ts
.history
*.private.env.json
*.private.env.js
*.profraw
.env
tmp
/RUNNING_PID

### Linux ###
*~
.directory
.Trash-*


### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Editors ###
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tasks.json

.idea/*
!.idea/runConfigurations/*
.access^


tasklist.md